<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="../../assets/images/logo.png"></ion-img>
          <ion-card-content>
            <p class="ion-text-center">
              Saiba qual a melhor opção de abastecimento para o seu carro.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-item>
          <ion-label position="floating">Preço Álcool, ex: 1,90</ion-label>
          <ion-input clearInput type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Preço Gasolina, ex: 2,90</ion-label>
          <ion-input clearInput type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>

        <ion-button expand="full" shape="round" (click)="calcular()">
          Calcular
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">
          {{ resultado }}
        </h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>